openapi: 3.0.0
info:
  title: OpenWeatherMap API
  version: '2.5'
  description: 'Get the current weather, daily forecast for 16 days, and a three-hour-interval forecast for 5 days for your city. Helpful stats, graphics, and this day in history charts are available for your reference. Interactive maps show precipitation, clouds, pressure, wind around your location stations. Data is available in JSON, XML, or HTML format. **Note**: This sample Swagger file covers the `current` endpoint only from the OpenWeatherMap API. <br/><br/> **Note**: All parameters are optional, but you must select at least one parameter. Calling the API by city ID (using the `id` parameter) will provide the most precise location results.'
  contact:
    name: Support
    url: 'https://openweathermap.org/api'
    email: some_email@gmail.com
  termsOfService: 'https://openweathermap.org/terms'
  license:
    name: CC Attribution-ShareAlike 4.0 (CC BY-SA 4.0)
    url: 'https://openweathermap.org/price'
servers:
  - url: 'https://api.openweathermap.org/data/2.5'
    description: prod
paths:
  /weather:
    get:
      summary: Your GET endpoint
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  coord:
                    type: object
                    properties:
                      lon:
                        type: number
                        description: 'City geo location, longitude'
                      lat:
                        type: number
                        description: 'City geo location, longitude'
                  cod:
                    type: number
                    description: Internal parameter
                  name:
                    type: string
                    description: Name
                  id:
                    type: number
                    description: City ID
                  timezone:
                    type: number
                    description: The timezone for the station
                  sys:
                    type: object
                    properties:
                      type:
                        type: number
                        description: Internal parameter
                      id:
                        type: number
                        description: Internal parameter
                      countri:
                        type: string
                        description: 'Country code (GB, JP etc.)'
                      sunrise:
                        type: number
                        description: 'Sunrise time, unix, UTC'
                      sunset:
                        type: number
                        description: 'Sunrise time, unix, UTC'
                  dt:
                    type: number
                    description: 'Time of data calculation, unix, UTC'
                  clouds:
                    type: object
                    properties:
                      all:
                        type: number
                        description: 'Cloudiness, %'
                  wind:
                    type: object
                    properties:
                      speed:
                        type: number
                        description: 'Wind speed. Unit Default: meter/sec, Metric: meter/sec, Imperial: miles/hour.'
                      deg:
                        type: number
                        description: 'Wind direction, degrees (meteorological)'
                  visibility:
                    type: number
                    description: 'Visibility, meter'
                  main:
                    type: object
                    properties:
                      temp:
                        type: number
                        description: 'Temperature. Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.'
                      feels_like:
                        type: number
                        description: What the weather feels like despite the actual numbers
                      temp_min:
                        type: number
                        description: 'Minimum temperature at the moment. This is deviation from current temp that is possible for large cities and megalopolises geographically expanded (use these parameter optionally). Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.'
                      temp_max:
                        type: number
                        description: 'Maximum temperature at the moment. This is deviation from current temp that is possible for large cities and megalopolises geographically expanded (use these parameter optionally). Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.'
                      pressure:
                        type: number
                        description: 'Atmospheric pressure (on the sea level, if there is no sea_level or grnd_level data), hPa'
                      humidity:
                        type: number
                        description: 'Humidity, %'
                  base:
                    type: string
                    description: Internal parameter
                  weather:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                          description: Weather condition id
                        main:
                          type: string
                          description: 'Group of weather parameters (Rain, Snow, Extreme etc.)'
                        description:
                          type: string
                          description: Weather condition within the group
                        icon:
                          type: string
                          description: Weather icon id
              examples:
                example:
                  value:
                    coord:
                      lon: -121.95
                      lat: 37.35
                    weather:
                      - id: 803
                        main: Clouds
                        description: broken clouds
                        icon: 04n
                    base: stations
                    main:
                      temp: 45.25
                      feels_like: 41.16
                      temp_min: 41
                      temp_max: 50
                      pressure: 1026
                      humidity: 75
                    visibility: 16093
                    wind:
                      speed: 2.57
                      deg: 36
                    clouds:
                      all: 75
                    dt: 1579415808
                    sys:
                      type: 1
                      id: 5845
                      country: US
                      sunrise: 1579360793
                      sunset: 1579396557
                    timezone: -28800
                    id: 0
                    name: Santa Clara
                    cod: 200
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  cod:
                    type: integer
                    description: Status code
                  message:
                    type: string
                    description: Explains why you received this message
                required:
                  - cod
                  - message
      operationId: get-weather
      description: 'Access current weather data for any location on Earth including over 200,000 cities! Current weather is frequently updated based on global models and data from more than 40,000 weather stations.'
      parameters:
        - schema:
            type: string
          in: query
          name: zip
          description: '**Zip code**. Search by zip code. *Example: 95050,us*. Please note that if the country is not specified, the search uses USA as a default.'
        - schema:
            type: string
            default: standard
            deprecated: false
            enum:
              - standard
              - metric
              - imperial
          in: query
          name: units
          description: '**Units**. *Example: imperial*. Possible values: `standard`, `metric`, and `imperial`. When you do not use the `units` parameter, the format is `standard` by default.'
        - schema:
            type: string
          in: query
          name: q
          description: '**City name**. *Example: London*. You can call by city name, or by city name and country code. The API responds with a list of results that match a searching word. For the query value, type the city name and optionally the country code divided by a comma; use ISO 3166 country codes.'
        - schema:
            type: string
          in: query
          name: lat
          description: '**Latitude**. *Example: 35*. The latitude coordinate of the location of your interest. Must use with `lon`'
        - schema:
            type: string
          in: query
          name: lon
          description: '**Longitude**. *Example: 139*. Longitude coordinate of the location of your interest. Must use with `lat `'
        - schema:
            type: string
            default: en
          in: query
          name: lang
          description: '**Language**. *Example: en*. You can use lang parameter to get the output in your language. We support the following languages that you can use with the corresponded lang values: Arabic - `ar`, Bulgarian - `bg`, Catalan - `ca`, Czech - `cz`, German - `de`, Greek - `el`, English - `en`, Persian (Farsi) - `fa`, Finnish - `fi`, French - `fr`, Galician - `gl`, Croatian - `hr`, Hungarian - `hu`, Italian - `it`, Japanese - `ja`, Korean - `kr`, Latvian - `la`, Lithuanian - `lt`, Macedonian - `mk`, Dutch - `nl`, Polish - `pl`, Portuguese - `pt`, Romanian - `ro`, Russian - `ru`, Swedish - `se`, Slovak - `sk`, Slovenian - `sl`, Spanish - `es`, Turkish - `tr`, Ukrainian - `ua`, Vietnamese - `vi`, Chinese Simplified - `zh_cn`, Chinese Traditional - `zh_tw`'
        - schema:
            type: string
            example: ''
            enum:
              - json
              - xml
              - html
            default: json
          in: query
          name: mode
          description: '**Mode*. *Example: html. Determines the format of the response. Possible values are `json`, `xml`, and `html`. If the mode parameter is empty, the format is `json` by default'
      security:
        - app_id: []
      tags:
        - Weather endpoints
components:
  schemas:
    unauthorized_response:
      title: 401
      type: object
      description: ''
      properties:
        cod:
          type: integer
        message:
          type: string
      required:
        - cod
        - message
  securitySchemes:
    app_id:
      name: appid
      type: apiKey
      in: query
      description: ''
